@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

:root {
  --primary: white;
  --highlight: hsl(50 100% 70%);
}

/* Reset */

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

*,
*::before,
*::after {
  font-family: Orbitron, sans-serif;
  font-size: 1.2rem;
  line-height: calc(1rem + 1em);
  color: white;
  text-align: center;
}

h1 {
  font-size: calc(1rem + 5vw);
  font-weight: 900;
}

a,
a:visited {
  color: var(--highlight);
  text-decoration: underline;
  transition: ease-out .2s;
}

a:hover {
  color: hsl(50 100% 0%);
  box-shadow: inset 0 0 1000em var(--highlight);
  cursor: pointer;
}

a:active {
  box-shadow: inset 0 0 1000em white;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(hsl(0 0% 3%), hsl(0 0% 9%));
  min-height: 100vh;
  padding: 5vmin;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Start Form */

.startform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: start;
}

label {
  width: fit-content;
  place-self: end;
}

input[type="number"] {
  border: solid white 1px;
  width: 10ch;
}

button {
  background: hsl(0 0% 90%);
  color: black;
  font-weight: 900;
  width: 10ch;
  border-radius: .3rem;
  transition: ease-out 0.2s;
  grid-column: 1 / -1;
  place-self: center;
}

.startform button {
  margin-top: 5vh;
}

button:hover {
  background: var(--highlight);
  cursor: pointer;
}

/* Conway Grid */

#grid-area {
  display: none;
}

.conwaygrid {
  width: fit-content;
  display: grid;
  grid-template-rows: auto; 
  gap: 5px;
  margin: 1rem auto;
}

input[type="checkbox"] {
  min-width: 1rem;
  aspect-ratio: 1;
  cursor: pointer;
  background: white;
}

input[type="checkbox"]:checked {
  background: pink;
      /* TODO: make the colours change dynamically like a disco dancefloor */
}
