@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@400&display=swap');

:root {
  --primary: white;
  --highlight: hsl(40 100% 80%);
  --white: radial-gradient(hsl(0 0% 99%), hsl(0 0% 86%));
  --magenta: radial-gradient(hsl(330 90% 70%), hsl(330 90% 50%));
  --green: radial-gradient(hsl(150 75% 80%), hsl(150 75% 50%));
  --purple: radial-gradient(hsl(280 95% 80%), hsl(280 95% 40%));
  --darkblue: radial-gradient(hsl(245 75% 70%), hsl(245 75% 50%));
  --violet: radial-gradient(hsl(295 90% 80%), hsl(295 90% 40%));
  --cyan: radial-gradient(hsl(200 80% 90%), hsl(200 80% 70%));
  --yellow: radial-gradient(hsl(40 100% 90%), hsl(40 100% 70%));
}

/* Reset */

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

*,
*::before,
*::after {
  font-family: Orbitron, sans-serif;
  font-size: 1.2rem;
  line-height: calc(1rem + 1em);
  color: white;
  text-align: center;
}

h1 {
  font-size: calc(1rem + 5vw);
  width: 9ch;
  margin: auto;
  font-family: Monoton, sans-serif;
  color: rgba(0 0 0 / 0);
  background: radial-gradient(circle, hsl(330 90% 50%),
                                      hsl(295 90% 40%),
                                      hsl(280 95% 40%),
                                      hsl(245 75% 50%));
  background-clip: text;
  -webkit-background-clip: text;
}

a,
a:link,
a:visited {
  color: var(--highlight);
  text-decoration: underline;
  transition: ease-out .2s;
}

a:hover {
  color: hsl(40 100% 0%);
  box-shadow: inset 0 0 1000em var(--highlight);
  cursor: pointer;
}

a:active {
  box-shadow: inset 0 0 1000em white;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(150deg, hsl(0 0% 3%),
                                      hsl(0 0% 12%));
  min-height: 100vh;
  padding: 5vmin;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Start Form */

.startform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: start;
}

label {
  width: fit-content;
  place-self: end;
}

input[type="number"] {
  border: solid white 1px;
  width: 10ch;
}

button {
  background: hsl(0 0% 90%);
  color: black;
  font-weight: 900;
  width: 10ch;
  border-radius: .3rem;
  transition: ease-out 0.2s;
  grid-column: 1 / -1;
  place-self: center;
}

.startform button {
  margin-top: 5vh;
}

button:hover {
  background: var(--highlight);
  cursor: pointer;
}

/* Conway Grid */

#grid-area {
  display: none;
  -webkit-perspective: 450px;
  perspective: 450px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; 
}

.conwaygrid {
  width: fit-content;
  display: grid;
  grid-template-rows: auto; 
  gap: 5px;
  margin: 1rem auto;
  transform: rotateX(40deg) translateZ(5rem);
  box-shadow: 0 10px 2px hsl(245 100% 25%);
}

input[type="checkbox"] {
  min-width: 1rem;
  aspect-ratio: 1;
  cursor: pointer;
  background: var(--white);
  transition: ease-in-out .5s;
}

/* input[type="checkbox"]:checked {
  background: var(--highlight);
} */

.magenta:checked {
  background: var(--magenta);
}

.green:checked {
  background: var(--green);
}

.purple:checked {
  background: var(--purple);
}

.darkblue:checked {
  background: var(--darkblue);
}

.violet:checked {
  background: var(--violet);
}

.cyan:checked {
  background: var(--cyan);
}

.yellow:checked {
  background: var(--yellow);
}
